<h2>List of users</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 30px"><i class= "icon-list-alt"></i></th>
      <th style="width: 60px"><i class= "icon-picture"></i> Avatar</th>
      <th><i class= "icon-user"></i> Username</th>
      <th><i class= "icon-envelope"></i> Email adress</th>
      <% if current_user.admin? %>
        <th><i class= "icon-trash"></i> Delete user</th>
      <% end %>
    </tr>
  </thead>
  <tbody>  
  <% @users.each do |user| %>
    <tr>
       <th><%= user.id %></th>
       <th><% if user.avatar? %>
           <%= image_tag user.avatar_url(:thumb).to_s, :class => "img-circle" %>
           <% else %>
             <%= image_tag('default 24.png', :class => "img-circle") %>
           <% end %></th>
       <th><%= link_to user.name, user %></th>
       <th><%= user.email %></th>
       <% if current_user.admin? && user !=current_user %>
         <th><%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                         :title => "Delete #{user.name}" %></th>
       <% end %>
    </tr>
  <% end %>
  <%= will_paginate @users, :param_name => 'user_page', :renderer => BootstrapPagination::Rails%>
  </tbody>
</table>
