<div class="pull-right">
  <table class="table">
    <tr>
      <th><i class= "icon-user"></i><strong> Name:</strong></th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th><i class= "icon-search"></i><strong> URL:</strong></th>
      <th><%= link_to user_path(@user), @user %></th>
    </tr>
    <tr>
      <th><i class= "icon-folder-open"></i><strong> Projects:</strong></th>
      <th><%= @user.projects.count %></th>
    </tr>  
  </table>
</div> 

<div class="pull-left">
  <% unless @user.projects.empty? %>
    <table class="table">
    <thead>
      <tr>
        <th><i class= "icon-folder-open"></i> Project</th>         
        <th><i class= "icon-info-sign"></i> Description</th>
      </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <% if project.public || project.user_id == current_user.id %>
      <tr>
        <th><%= link_to project.title, project %></th>
        <th><%= project.description %></th>
        <% if project.user_id == current_user.id %>
          <th><%= link_to "edit", edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to "delete", project, :method => :delete, :confirm => "You sure?",
            :title => "Delete #{project.title}", :class => 'btn btn-mini btn-danger' %></th>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>  
  </table>
<% end %>
<% if @user == current_user %>
  <%= link_to (new_project_path), :class => 'btn btn-primary' do %>
    ADD PROJECT
  <% end %>
<% end %>
</div>
