<h2>Edit project</h2>

<%= form_for (@project) do |f| %>
  <%= render 'layouts/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => "3" %>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class => 'btn btn-primary' %>
  </div>
<% end %>
