<div class="row">
  <div class="span4">
    <h2><%= @project.title %></h2>
    <%= @project.description %>
  </div>
  <div class="span2 offset6">
    <%= link_to "ADD STORY", new_story_path(:project_id => @project.id), :class => 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="span3">
        <table class="table">
          <thead>
            <tr><th><i class= "icon-ok"></i> Done</th></tr>
          </thead>
          <tbody>
            <% @stories.each do |story| %>
              <% if story.state == "finished" %>
                <tr>
                  <td>
                    <%= image_tag(story.story_type + '.png', :border => 0) %>
                    <%= story.description %><br>
                    <span class="muted">Author:<%= story.user.name %></span>
                  </td>
                  <td><span class="label"><%= story.state %></span></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>     
  </div>
  <div class="span3">
        <table class="table">
          <thead>
            <tr><th><i class= "icon-edit"></i> Current</th></tr>
          </thead>
          <tbody>
            <% @stories.each do |story| %>
              <% if story.state == "started" || story.state == "delivered" || story.state == "accepted" %>
                <tr>
                  <td>
                    <%= image_tag(story.story_type + '.png', :border => 0) %>
                    <%= story.description %><br>
                    <span class="muted">Author:<%= story.user.name %></span>
                  </td>
                  <td>
                    <span class="label label-success"><%= story.state %></span><br><br>
                    <% if story.state == "started" %>
                      <%= link_to "deliver", story_change_state_path(:id => story.id, :new_state => :deliver), :class => 'btn btn-mini btn-primary pull-right' %>                                                                        
                    <% end %>
                    <% if story.state == "accepted" %>
                      <%= link_to "finish", story_change_state_path(:id => story.id, :new_state => :finish), :class => 'btn btn-mini btn-primary pull-right' %>                                                                       
                    <% end %>
                    <% if story.state == "delivered" %>
                      <%= link_to "accept", story_change_state_path(:id => story.id, :new_state => :accept), :class => "btn btn-mini btn-primary" %>
                      <%= link_to "reject", story_change_state_path(:id => story.id, :new_state => :reject), :class => "btn btn-mini btn-danger" %>                                                          
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
  </div>
  <div class="span3">
        <table class="table">
          <thead>
            <tr><th><i class= "icon-briefcase"></i> Backlog</th></tr>
          </thead>
          <tbody>
            <% @stories.each do |story| %>
              <% if story.state == "rejected" %>
                <tr>
                  <td>
                    <%= image_tag(story.story_type + '.png', :border => 0) %>
                    <%= story.description %><br>
                    <span class="muted">Author:<%= story.user.name %></span>
                  </td>
                  <td>
                    <span class="label label-important"><%= story.state %></span><br><br>
                    <%= link_to "restart", story_change_state_path(:id => story.id, :new_state => :restart), :class => 'btn btn-mini btn-primary pull-right'%>                                                                        
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
  </div>
  <div class="span3">
        <table class="table">
          <thead>
            <tr><th><i class= "icon-download-alt"></i> Icebox</th></tr>
          </thead>
          <tbody>
            <% @stories.each do |story| %> 
              <% if story.state == "not_yet_started" %>
                <tr>
                  <td>
                    <%= image_tag(story.story_type + '.png', :border => 0) %>
                    <%= story.description %><br>
                    <span class="muted">Author:<%= story.user.name %></span>
                  </td>
                  <td>
                    <span class="label label-info"><%= story.state %></span><br><br>
                    <%= link_to "start", story_change_state_path(:id => story.id, :new_state => :start), :class => 'btn btn-mini btn-primary pull-right' %>  
                  </td>
                </tr>    
              <% end %>  
            <% end %>
          </tbody>  
        </table>
  </div>      
</div>

