<%= render 'layouts/subnav' %>
<div class="row">
  <div class="span4">
    <h2><%= @project.title %></h2>
    <%= @project.description %>
  </div>
</div>
<div class="row">
  <% unless @done.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_done' %>
    </div>
  <% end %>
  <% unless @current.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_current' %>
    </div>
  <% end %>
  <% unless @backlog.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_backlog' %>
    </div>
  <% end %>
  <% unless @icebox.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_icebox' %>
    </div>
  <% end %>
</div>
