<div class="row">
  <div class="span4">
    <h2><%= @project.title %></h2>
    <%= @project.description %>
  </div>
  <div class="span2 offset6">
    <%= link_to "ADD STORY", new_story_path(:project_id => @project.id), :class => 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= render 'layouts/feed_done' %>
  </div>
  <div class="span3">
    <%= render 'layouts/feed_current' %>
  </div>
  <div class="span3">
    <%= render 'layouts/feed_backlog' %>
  </div>
  <div class="span3">
    <%= render 'layouts/feed_icebox' %>
  </div>
</div>
