<div class="row">
  <div class="span4">
    <h2><%= @project.title %></h2>
    <%= @project.description %>
  </div>
  <% if (@project.member?(current_user)) || @project.user == current_user %>
    <div class="span2 offset6">
      <%= link_to "ADD STORY", new_story_path(:project_id => @project.id), :class => 'btn btn-primary' %>
    </div>
  <% end %>  
</div>
<div class="row">
  <% unless @stories_done.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_done' %>
    </div>
  <% end %>
  <% unless @stories_current.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_current' %>
    </div>
  <% end %>
  <% unless @stories_backlog.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_backlog' %>
    </div>
  <% end %>
  <% unless @stories_icebox.empty? %>
    <div class="span3">
      <%= render 'layouts/feed_icebox' %>
    </div>
  <% end %>
</div>
