<table class="table">
  <thead>                                                                                                  
    <tr><th><i class= "icon-download-alt"></i> Icebox</th></tr>                                            
  </thead>
  <tbody>                                                                                                  
    <% @stories.each do |story| %>                                                                         
    <% if story.state == "not_yet_started" %>                                                            
      <tr>                                                                                               
        <td>                                                                                             
          <%= image_tag(story.story_type + '.png', :border => 0) %>                                      
          <%= story.description %><br>                                                                   
          <span class="muted">Author:<%= story.user.name %></span>                                       
        </td>                                                                                            
        <td>                                                                                             
          <span class="label label-info pull-right"><%= story.state %></span><br>                        
          <%= link_to "start", story_change_state_path(:id => story.id, :new_state => :start), :class => 'btn btn-mini btn-primary pull-right' %>
        </td>                                                                                            
      </tr>                                                                                              
    <% end %>                                                                                            
    <% end %>                                                                                              
  </tbody>
</table>
