<% unless @user.projects.empty? %>                                                                  
  <table class="table">                                                                             
    <thead>                                                                                           
      <tr>                                                                                            
        <th style="width: 30%"><i class= "icon-folder-open"></i> My projects</th>
        <th style="width: 50%"><i class= "icon-info-sign"></i> Description</th>
        <% if @user.id == current_user.id %>                                                          
          <th style="width: 10%"><i class= "icon-star"></i> Stories</th> 
        <% end %>                                                                                     
      </tr>                                                              
    </thead>
    <tbody>                                                                                           
      <% @projects.each do |project| %>                                                                 
        <% if project.public || project.member?(current_user) || (project.user_id == current_user.id) %>
          <tr>                                                                                            
            <th><%= link_to project.title, project %></th>                                                
            <td><%= project.description %></td>                                                           
            <% if project.user_id == current_user.id %>                                                   
              <td><%= project.stories.count %>/<%= project.user_responsible(current_user).count %></td>
            <% end %>                                                                                     
          </tr>
        <% end %>                                                                                       
      <% end %>
      <% unless @user.works.empty? %>
        <tr>
          <th><br><br><i class= "icon-eye-open"></i> Projects member</th>
          <th><br><br><i class= "icon-info-sign"></i> Description</th>
          <th><br><br><i class="icon-star"></i> Stories</th>
        </tr>
        <% @user.works.each do |work| %>
          <% if work.public || work.member?(current_user) %>
          <tr>
            <th><%= link_to work.title, work %><p style="font-size: 10px"><span class="muted pull-right">by <%=link_to work.user.name, work.user%></span></p></th>
            <td><%= work.description %></td>
            <td><%= work.stories.count %>/<%= work.user_responsible(current_user).count %></td>
          </tr> 
        <% end %>
        <% end %>  
      <% end %>  
    </tbody>                                                                                          
  </table>                                                                                          
<% end %>                                                                                           

