<table class="table">
  <thead>                                                                                                  
    <tr><th><i class= "icon-download-alt"></i> Icebox</th></tr>                                            
  </thead>
  <tbody>                                                                                                  
    <% @stories_icebox.each do |story| %>                                                            
      <tr>                                                                                               
        <td>                                                                                             
          <%= image_tag(story.story_type + '.png', :border => 0) %>                                      
          <span class="label label-info pull-right"><%= story.state %></span>
          <%= story.description %><br>                                                                   
          <span class="muted">Author:<%= story.user.name %></span><br>
          <%= link_to new_comment_path(:story_id => story.id), :class => 'btn btn-mini pull-left' do %>
            <i class= "icon-pencil"></i> + <%= story.comments.count %>
          <% end %>
          <%= link_to "start", story_change_state_path(:id => story.id, :new_state => :start), :class => 'btn btn-mini btn-primary pull-right' %>
        </td>                                                                                            
      </tr>
    <% end %>                                                                                              
  </tbody>
</table>
