<table class="table">                                                                                 
  <thead>                                                                                             
    <tr><th><i class= "icon-briefcase"></i> Backlog</th></tr>                                         
  </thead>                                                                                            
  <tbody>                                                                              
    <% @backlog.each do |story| %>
      <tr>
        <td>
          <div>
            <%= image_tag(story.story_type + '.png', :border => 0, :style => "float: left") %>
            <span class="label label-important pull-right", style="margin-left: 3px"><%= story.state %></span>
            <%= story.description %>
            <div style="clear:both;"></div>
          </div>
          <span class="muted", style = "font-size: 10px">Author: <%= story.user.name %></span><br>
          <div class="btn-toolbar" style="margin-top: 2px; margin-bottom: 0px">
            <% if story.responsible %>
              <% if story.get_responsible.avatar? %>
                <%= image_tag story.get_responsible.avatar_url(:thumb).to_s, :class => "img-polaroid-small pull-right", :title => story.get_responsible.name %>
              <% else %>
                <%= image_tag 'default 24.png', :class => "img-polaroid-small pull-right", :title => story.get_responsible.name %>
              <% end %>
            <% end %>
            <%= link_to "restart", story_change_state_path(:id => story.id, :new_state => :restart), :class => 'btn btn-mini btn-primary', :disable_with => "wait" %>
            <%= link_to new_comment_path(:story_id => story.id), :class => 'btn btn-mini' do %>
              <i class= "icon-comment"></i> + <%= story.comments.count %>
            <% end %>
            <div class="btn-group" style="top: 7px;">
              <%= link_to "#", :class => "btn btn-mini dropdown-toggle", :data => {:toggle => "dropdown"} do %>
                <i class="icon-user"></i>
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to story.project.user.name, story_path(:id => story.id, :story => {:responsible => story.project.user.id}), :method => :put %></li>
                <% story.project.members.each do |member| %>
                  <li><%= link_to member.name, story_path(:id => story.id, :story => {:responsible => member.id}), :method => :put %></li>
                <% end %>  
              </ul>  
            </div>
          </div>
        </td>
      </tr>
    <% end %>                                                                                         
  </tbody>                                                                                            
</table>
