<table class="table">                                                                                    
  <thead>                                                                                                
    <tr><th><i class= "icon-edit"></i> Current</th></tr>                                                 
  </thead>                                                                                               
  <tbody>                                                                                                
    <% @stories_current.each do |story| %>                                                                       
      <tr>                                                                                             
        <td style="width: 60%">                                                                        
          <%= image_tag(story.story_type + '.png', :border => 0) %>                                    
          <%= story.description %><br>                                                                 
          <span class="muted">Author:<%= story.user.name %></span>                                     
        </td>                                                                                          
        <td style ="width: 40%">                                                                       
          <span class="label label-success pull-right"><%= story.state %></span><br>                   
          <% if story.state == "started" %>                                                            
            <%= link_to "deliver", story_change_state_path(:id => story.id, :new_state => :deliver), :class => 'btn btn-mini btn-primary pull-right' %>                                                             
          <% end %>                                                                                    
          <% if story.state == "accepted" %>                                                           
            <%= link_to "finish", story_change_state_path(:id => story.id, :new_state => :finish), :class => 'btn btn-mini btn-primary pull-right' %>                                                             
          <% end %>                                                                                    
          <% if story.state == "delivered" %>                                                          
            <%= link_to "accept", story_change_state_path(:id => story.id, :new_state => :accept), :class => "btn btn-mini btn-primary" %>                                                                        
            <%= link_to "reject", story_change_state_path(:id => story.id, :new_state => :reject), :class => "btn btn-mini btn-danger" %>                                                                         
          <% end %>                                                                                    
        </td>                                                                                          
      </tr>
    <% end %>                                                                                            
  </tbody>                                                                                               
</table>
