<table class="table">                                                                                    
  <thead>                                                                                                
    <tr><th><i class= "icon-edit"></i> Current</th></tr>                                                 
  </thead>                                                                                               
  <tbody>                                                                                                
    <% @stories_current.each do |story| %>                                                                       
      <tr>                                                                                             
        <td style="width: 60%">                                                                        
          <%= image_tag(story.story_type + '.png', :border => 0, :style => "float: left") %>
          <span class="label label-success pull-right"><%= story.state %></span>
          <%= story.description %><br>                                                                 
          <span class="muted">Author:<%= story.user.name %></span><br>
          <% if story.responsible %>
            <span class="muted">Responsible:<%= story.get_responsible.name %></span><br>
          <% end %>
          <%= link_to new_comment_path(:story_id => story.id), :class => 'btn btn-mini pull-left' do %>
            <i class= "icon-comment"></i> + <%= story.comments.count %>
          <% end %>
          <% if story.state == "started" %>                                                            
            <%= link_to "deliver", story_change_state_path(:id => story.id, :new_state => :deliver), :class => 'btn btn-mini btn-primary pull-right', :disable_with => "wait" %>
          <% end %>                                                                                    
          <% if story.state == "accepted" %>                                                           
            <%= link_to "finish", story_change_state_path(:id => story.id, :new_state => :finish), :class => 'btn btn-mini btn-primary pull-right', :disable_with => "wait" %>
          <% end %>                                                                                    
          <% if story.state == "delivered" %>                                                          
            <%= link_to "accept", story_change_state_path(:id => story.id, :new_state => :accept), :class => "btn btn-mini btn-primary pull-right", :style => "margin-left: 2px", :disable_with => "wait" %>
            <%= link_to "reject", story_change_state_path(:id => story.id, :new_state => :reject), :class => "btn btn-mini btn-danger pull-right", :disable_with => "wait" %>
          <% end %>                                                                                    
        </td>                                                                                          
      </tr>
    <% end %>                                                                                            
  </tbody>                                                                                               
</table>
