<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Create project</h3>
  </div>
  <div class="modal-body">
     <%= form_for Project.new do |f| %>
       <div class="field">
         <%= f.label :title %>
         <%= f.text_field :title %>
       </div>
       <div class="field">
         <%= f.label :description %>
         <%= f.text_area :description, :rows => "3" %>
       </div>
       <div>
         <%= f.label :public %>
         <%= f.check_box :public %>
       </div>
  </div>
  <div class="modal-footer">
    <div class="actions">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        <%= f.submit "CREATE", :class => 'btn btn-primary' %>
      </div>
  </div>
     <% end %>
</div>
<a data-toggle="modal" href="#myModal" class="btn btn-primary mdl">ADD PROJECT</a>
