<table class="table">
  <tr>
    <th><i class= "icon-user"></i><strong> Name:</strong></th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th><i class= "icon-search"></i><strong> URL:</strong></th>
    <th><%= link_to user_path(@user), @user %></th>
  </tr>
  <tr>
    <th><i class= "icon-folder-open"></i><strong> Projects owner:</strong></th>
    <th><%= @user.projects.count %></th>
  </tr>
  <tr>
    <th><i class= "icon-eye-open"></i><strong> Projects member:</strong></th>
    <th><%= @user.works.count %></th>
  </tr>
  <tr>
    <th><i class= "icon-star"></i><strong> Stories:</strong></th>
    <th><%= @user.stories.count %></th>
  </tr>
  <tr>
    <th><i class= "icon-comment"></i><strong> Comments:</strong></th>
    <th><%= @user.comments.count %></th>
  </tr>
  <tr>
    <th><i class="icon-briefcase"></i><strong> Responsible:</strong></th>
    <th><%= @user.get_responsibles.count %></th>
  </tr>
</table>
