<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render "layouts/stylesheets" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap-modal" %>
  <%= javascript_include_tag "bootstrap-dropdown" %>
  <%= javascript_include_tag "bootstrap-alert" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">
    <%= render "layouts/header" %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
  </div>  
  <%= render "layouts/footer" %>
</body>
</html>
